<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div id="sidebarContent" >
      <ul class="list-unstyled components">
          <p id="logo"> LOGO </p>
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#">Shop</a>
          </li>
          <li>
              <a href="#">Resources</a>
          </li>
      </ul>
    </div>
    <ul class="social-media">
      <i id=facebook class="fab fa-facebook-square"></i>
      <i id=instagram class="fab fa-instagram-square"></i>
    </ul>
  </nav>

  <pm-products id="products-list"></pm-products>

</div>
